<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVEP6xJfoLERo7J0E96WouKx9eVm7vUjo</string>
	<key>GCM_SENDER_ID</key>
	<string>96462981625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BloggingApp</string>
	<key>PROJECT_ID</key>
	<string>bloggingapp-19511</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggingapp-19511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96462981625:ios:9b6e7af09a02da4e349528</string>
	<key>DATABASE_URL</key>
	<string>https://bloggingapp-19511-default-rtdb.firebaseio.com</string>
</dict>
</plist>